<div class="container">
  <div class="centerContent">
    <img src="myprofile.jpg" class="aboutImage" alt="myprofilepicture">
    <div class="content">
      <p>
        <h2 id="textOutline"><strong>About me</strong></h2>
          <h3 id="textOutline">My life started in small city called Lund where I spent most of my life.
            In my early years of life I was very fond of technology because it seemed cool 
            and thus began my admiration for computers.
          </h3>
      </p>
    </div>
  </div>
</div>