<div class="container">
  <div class="centerContent">
    <img src="myprofile.jpg" class="contactImage" alt="myprofilepicture">
      <div class="content">
        <p>
          <h2 id="textOutline"><strong>Contact Hawkar Jamal</strong></h2>
          <h3 id="textOutline">If you have any questions or want to know more you can contact me on either e-mail or phone.<br>
          <i class="fas fa-envelope-square"></i>hawkar@mail.com <br>
          <i class="fas fa-phone-square-alt"></i> 012345665 </h3>
        </p>
      </div>
  </div>
</div>